
.move-top {
	
	position: fixed;
	display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: black;
	border-radius: 10px;
    opacity: 0.7;
    
}

.move-top .fa-inverse{
	color: red;
}

.move-top .fa-square-o{
	color: black; 
}

.move-top:hover{
	opacity: 1;
	cursor: pointer;
 
}

