			
		
      <div class="col-xs-12 col-md-4 col-md-offset-1 books text-center">
			
      	  <h3 class="text-center" style="margin-top:40px;">{{ item.name }}</h3>

           <h5 class="text-center">ISBN : {{ item.isbn }}</h5>
      
           <h5 class="text-center">No of Pages : {{ item.numberOfPages }}</h5>

           <h5 class="text-center">Publishers : {{ item.publisher }}</h5>
      
           <a ng-href ='#/books/{{ item.url.split("/").pop() }}' class="btn btn-default btn-custom" style="display: inline-block;"><img src="css/images/quill.png" class="img-responsive know-btn">Know more
           </a> 
          
      </div>

         
            
