			
				
			<div class="row">

				<div class="col-xs-12 col-md-4 col-md-offset-1 books text-center" ng-repeat = "book in item.books">
			
      	  <h3 class="text-center">{{ $index + 1 }} . {{ book.name }}</h3>
      
            <h5 class="text-center">ISBN : {{ book.isbn }}</h5>
      
            <h5 class="text-center">No of Pages : {{ book.numberOfPages }}</h5>
      
          <a ng-href ='#/books/{{ book.url.split("/").pop() }}' class="btn btn-default btn-custom" style="display: inline-block;">

          <img src="images/quill.png" class="img-responsive know-btn">Know more</a> 
          
           </div>

                <div class="col-xs-12 text-center">
               	<div style="opacity: 0.5;">
                	<span><h3> Did you know<i class="fa fa-question-circle fa-2x text-danger" style="margin-left: 10px;" aria-hidden="true"></i>
			         		</h3></span>
                	<p> Author George R.R. Martin made a bet with his friend Patrick St. Denis that if the Dallas Cowboys ever had a better season than the New York Giants, he'd make St. Denis into a character and have him brutally ripped apart by giants. After losing the bet, Martin kept to his word and in "A Dance with Dragons" there's a character named Sir Patrek of King's Mountain who's killed by giants. Martin even made the character's heraldry looks like the Dallas Cowboy's logo.</p>
              	 </div>
                </div>
             </div>
