
          <div class="col-xs-12 col-md-4 col-md-offset-1 characters text-center" ng-if = 'item.name !=""'>
            
             <img src="css/images/helmet1.png" class="img-responsive type-image">
             <h5>Name : {{ item.name }}</h5>
             <h5 ng-if = 'item.aliases[0] !=""'>Known as :  " {{ item.aliases[0] }} "</h5>
             <h5 ng-if = 'item.gender !=""'>Gender : {{ item.gender }}</h5> 
             <a ng-href='#/characters/{{ item.url.split("/").pop() }}' class="btn btn-default btn-custom" style="display: inline-block;">Know more</a>

          </div>
              
                 
            
              
          
