          

          
            

          <div class="container-fluid  main-row">
          <div class="row">
           <div class="col-xs-12 text-center filter-btns">
          <div class="row">
            <div class="col-md-4">
            <button class="btn btn-danger" type="button" ng-click="mainCtrl.key1 =! mainCtrl.key1">Sort by Name<span ng-show="mainCtrl.key1" style="margin-left: 5px;"><i class="fa fa-caret-down"></i></span>
            <span ng-show="!mainCtrl.key1" style="margin-left: 5px;"><i class="fa fa-caret-up"></i></span></button>
            </div>
            <div class="col-md-4">
            <div class="input-group filt-book" style="margin:10px 0px;">
            <span class="input-group-addon">Charcters
            <span class="glyphicon glyphicon-flash" style="color: brown;"></span>
            </span>
            <input  type="text" name="book" class="form-control" placeholder="Character name here.." ng-model="searchName2.name">
            </div>
            </div>
            <div class="col-md-4">
            <button class="btn btn-danger" type="button" ng-click="">Sort by Alias</button>
            </div>
         </div>
        </div>

            </div>
            </div>

            <div class="container-fluid"  ng-repeat="item in mainCtrl.allData">
              
               <books-dir></books-dir> 

               <characters-dir></characters-dir>

               <houses-dir></houses-dir>
              
              </div>
